.signup {
    background: linear-gradient(135deg, #5cd6ff, #800080);
    height: 100vh;
    padding: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 600px;
    width: 650px;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}

.form-label {
    font-weight: 500;
}

.btn {
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #5cd6ff, #c437c4);
    width: 500px;
    margin-top: 35px;
    border: none;
}