body {
    background: #000000;
    color: white;
}

.main {
    margin-left: 20%;
    padding: 20px;
}

.first-container {
    background-image: linear-gradient(to right, #921a6c, #d3155a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.desc h4,
p {
    margin: 0;
}

.desc h4 {
    font-weight: 500;
}

.desc p {
    font-weight: normal;
}

.upgrade-button button {
    color: white;
    font-weight: 600;
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 15px;
}

.upgrade-button button:hover {
    color: black;
    background: white;
}

.second-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1,
.card2,
.card3,
.card4 {
    flex: 1;
    margin: 0 10px 10px;
    background: #191b23;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
}

.amount {
    font-size: 2rem;
    margin-right: 5px;
}

.texts {
    margin-right: 25px;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-text {
    color: #6c7293;
}

.success {
    font-weight: 500;
    color: #00d25b;
}

.danger {
    font-weight: 500;
    color: #fc424a;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 40px;
    color: #00d25b;
    background: rgba(0, 210, 91, 0.11);
    border-radius: 5px;
}

.arrow-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 40px;
    color: #fc424a;
    background: rgba(252, 66, 74, 0.11);
    border-radius: 5px;
}

.third-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-div,
.table-div {
    flex: 1;
    margin: 0 0 20px;
}

.chart-div {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 0 10px 20px 0;
    background-color: #191c24;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 20px 20px 0px 20px;
    margin-right: 10px;
}

.chart-img {
    height: 200px;
    width: auto;
    padding: 30px 60px;
}

.chart-img {
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.chart-texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f1015;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 20px
}

.chart-main-text h6,
p {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.chart-main-text h6 {
    font-weight: 600;
}

.chart-main-text p {
    color: #6c7293;
}

.table-div {
    flex: 1 1 calc(70% - 10px);
    max-width: calc(70% - 10px);
    margin: 0 0 20px 0;
    background-color: #191c24;
    padding: 20px 20px 0px 20px;
    border-radius: 0.25rem;
}

.table-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-heading p {
    color: #6c7293
}

.first-row-icon,
.second-row-icon,
.third-row-icon,
.fourth-row-icon,
.fifth-row-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.first-row-icon {
    background: #0d6efd;
}

.second-row-icon {
    background: #198754;
}

.third-row-icon {
    background: #0dcaf0;
}

.fourth-row-icon {
    background: #dc3545;
}

.fifth-row-icon {
    background: #ffc107;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    border-bottom: 1px solid #2c2e33;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 20px;
}

.content-texts p {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.row-sub-headline {
    font-weight: 500;
    margin-bottom: 3px;
}

.row-sub-text,
.content-muted-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #6c7293;
}

.fourth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fourth-container-cards {
    background-color: #191c24;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    margin: 0px 10px;
}

.fourth-card-main {
    display: flex;
    align-items: center;
}

.fourth-card-main h2,
p {
    margin: 0;
}

.fourth-card-main h2 {
    margin-right: 10px;
}

.fourth-cards-contents {
    display: flex;
    align-items: center;
}

.fourth-card-icon {
    font-size: 3.5rem;
    padding: 25px 45px;
}

.fourth-card-first {
    color: #0d6efd;
}

.fourth-card-second {
    color: #dc3545;
}

.fourth-card-third {
    color: #198754;
}

.fifth-container {
    background-color: #191b23;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.fifth-container-heading {
    margin-bottom: 15px;
}

.table td,
.table th {
    background-color: #191b23;
    color: #6c7293;
    padding: 20px 10px;
    white-space: nowrap;
}

.table tr {
    border: #2c2e33;
}

input[type='checkbox'] {
    appearance: none;
    outline: none;
    width: 15px;
    height: 15px;
    border: 2px solid #6c7293;
    border-radius: 3px;
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.sixth-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-items: center;
    justify-content: space-between;
}

.sixth-container-cards {
    background-color: #191b23;
    border-radius: 5px;
    padding: 20px;
    flex: 1 0 auto;
    margin: 0px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.sixth-container-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sixth-container-heading h4,
p {
    margin: 0;
}

.sixth-container-heading h4 {
    font-weight: 500;
    font-size: 16px;
}

.sixth-container-heading p {
    color: #6c7276;
}

.list-item h6,
p {
    margin: 0;
}

.list-item h6 {
    font-size: 16px;
    margin-bottom: 3px;
}

.list-item p {
    font-size: 10px;
    color: #6c7276;
}

.list-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #2c2e33;
}

.list-item-texts {
    margin: 0 20px;
}

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0px 5px;
}

.carousel {
    padding: 5px;
}

.carousel-inner {
    height: 193px;
}

.progress {
    margin: 0;
    padding: 0;
    height: 5px;
}

.to-do-heading {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.inputgroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}

.todo-input {
    background: transparent;
    color: white;
    border: 1px solid #2c2e33;
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
}

.todo-list-item ul li {
    list-style: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check-input {
    background-color: #191c24;
    border: 2px solid #0090e7;
    margin: 0px 10px;
}

.form-check-input:checked {
    background-color: #0090e7;
    border-color: #0090e7;
}

.form-check-label {
    color: #6c7285;
}

.form-check-input {
    width: 40px;
    height: 40px;
}

.close-icon {
    color: #6c757d;
}

.seventh-container {
    margin-bottom: 20px;
    background-color: #191b23;
    border-radius: 5px;
    padding: 20px;
}

.seventh-container-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.seventh-container-table {
    width: 100%;
}

.world-map {
    width: 100%;
    height: auto;
    max-height: 300px
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #6c7293;
}

.footer-right {
    color: #198754;
}



@media screen and (max-width: 1235px) {
    .main {
        margin: 0;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        flex-basis: calc(50% - 20px);
    }

    .chart-main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .chart-texts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    .fourth-container {
        flex-direction: column;
        align-items: center;
    }

    .fourth-container-cards {
        width: 100%;
        margin-bottom: 20px;
    }

    .fourth-cards-contents {
        width: 100%;
        justify-content: space-between;
    }

    .table-container {
        overflow-x: scroll;
    }

    .list-item-texts p {
        font-size: 10px;
    }

    .timer {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .third-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chart-div,
    .table-div {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0 0 20px;
    }

    .fourth-container-cards {
        padding: 15px;
    }

    .seventh-container-card {
        flex-direction: column;
    }

    .seventh-container-table {
        width: 100%;
    }

    .world-map {
        width: 100%;
        margin-top: 15px;
    }

}


@media screen and (max-width: 750px) {
    .desc h4 {
        font-size: 20px;
    }

    .desc p {
        display: none;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        flex: 1 1 100%;
        margin: 0 0 20px;
    }

    .sixth-container-cards {
        flex-basis: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 670px) {
    .desc h4 {
        display: none;
    }

    .upgrade-button button {
        font-size: 14px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        flex: 1 1 100%;
        margin: 0 0 20px;
    }

    .table-heading p {
        display: none;
    }

    .third-container-p {
        display: none;
    }

    .fifth-row {
        display: none;
    }

    .fourth-card-icon {
        padding: 25px 35px;
    }

    .sixth-container-cards {
        margin: 20px 0px
    }

    .footer-left {
        align-items: center;
    }

    .footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}