.left {
    color: #858585;
    background: #282c34;
    width: 20vw;
}

.leftItem i {
    margin-right: 20px;
}

.leftItem {
    margin-top: 20px;
}

.leftItem li {
    list-style: none;
}

.item {
    padding: 5px 0px;
}