.flex {
    display: flex;
}

.cont {
    background: #454545;
    position: relative;
    height: 92vh;
    width: 70vw;
    overflow: hidden;
}

.dropped-widget {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.cont2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 90vh;
    width: 30vw;
}

button {
    height: 50px;
    width: 350px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

.btn-first {
    background-color: blue;
}

.btn-second {
    background-color: lightblue;
}

.btn-third {
    background-color: green;
}

.btn-fourth {
    background-color: red;
}

.btn-fifth {
    background-color: yellow;
}