.contents {
    display: flex;
    overflow: hidden;
}

.right {
    color: white;
    background: #1f2229;
    height: 92.9vh;
    width: 80vw;
    padding: 30px;
}

.right h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

.right div {
    margin: 5px 0;
}

.first {
    padding: 10px;
    background: linear-gradient(135deg, #5cd6ff, #c437c4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewmore a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards {
    width: 270px;
}

.cards .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards i {
    color: white;
    font-size: 32px;
    padding: 15px;
    border-radius: 50%;
}

.cards h5 {
    font-size: 16px;
    color: #858585;
}

.cards p {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.card {
    background: #282c34;
}

.table-dark {
    border-radius: 8px;
    background: #282c34;
    width: 100%;
}

.table-dark th {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #1f2229;
    ;
}

.table-dark td {
    padding: 5px 15px;
    font-size: 16px;
    border-bottom: 2px solid #1f2229;
    ;
}

.table-dark .clientImg {
    object-fit: cover;
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.clientDetails {
    display: flex;
    flex-direction: column;
}

.forth h1 {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 25px;
}